{% extends 'base.html' %}

{% block body %}

<div class="jumbotron">
  <h1 class="display-4">MyECart</h1>
  <p class="lead">Welcome All, the founder of MyECart is Mr. Srujal Sancheti.He faced a problem in COVID 19 Pandemic of going Shop for buying groceries. Due to lockdown, many people didnt get the food. So, to solve the problem he made this App. By using this app, user need not to go out to buy groceries. All the item will be delivered at your door step.</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="/Shopping" role="button">Shop Now</a>
</div>

{% endblock body %}